/* Plata: #b5b7bb  #d8d8d8 #afb1ae #cccccc */
/* Verde Esmeralda: #0f5132 #185235 #026842 #24763f} */

body {
    margin: 2em;
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;        
}

h1.quote, h1.together-header {
    margin-bottom: 0.1em;
}

h2.together-header {
    margin-top: 0.2em;
}

img.hero {
    max-width: 100%;
    margin-bottom: 0;
}

.big {
    font-size: 1.3em;
}

.cd-item {
    color: white;
    border-radius: 1em;
    background-color: #b5b7bb;
}

.content {
    text-align: center;
}

.countdown {
    display: grid;
    grid-gap: 1em;
    justify-content: center;
    grid-template-columns: 6em 6em 6em;
    margin-bottom: 2em;
}

.emoji-top {
    display: block;
}

.hero {
    margin-bottom: 2em;
}

.info {
    display: grid;
    grid-gap: 1em;
    justify-content: center;
    grid-template-columns: 10em 10em;
}

.long-text {
    text-align: justify;
}

.schedule {
    display: grid;
    grid-gap: 1em;
    justify-content: space-around;
    grid-template-columns: 8em 8em;
}

.quote-src {
    width: 100%;
    text-align: right;
    margin-bottom: 2em;
}
